[submodule "libs/pinut/external/glm"]
	path = libs/pinut/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/pinut/external/tinygltf"]
	path = libs/pinut/external/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "libs/pinut/external/ImGuizmo"]
	path = libs/pinut/external/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "libs/pinut/external/vk-bootstrap"]
	path = libs/pinut/external/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "libs/pinut/external/glfw"]
	path = libs/pinut/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/render_device/external/VulkanMemoryAllocator"]
	path = libs/render_device/external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "libs/pinut/external/imgui"]
	path = libs/pinut/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/pinut/external/stb"]
	path = libs/pinut/external/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/pinut/external/tinyobjloader"]
	path = libs/pinut/external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "libs/pinut/external/entt"]
	path = libs/pinut/external/entt
	url = https://github.com/skypjack/entt.git
